;; shadow-cljs configuration
{:deps {:aliases [cljs]}

 :dependencies
 []

 :builds
 {:test {:target :node-test
         :output-to "build/js/node-tests.js"
         :ns-regexp "-test"
         :autorun true
         :compiler-options {:warnings {:invalid-arithmetic false}}
         :dev {:build-options {:ns-aliases {dev.jaide.utils/pprint clojure.pprint/pprint}}}
         :release {:autorun false
                   :compiler-options {:optimizations :simple
                                      :elide-asserts false}}}}}
